---
title: "Class Basics"
author: "Rj"
date: 2019-04-20
description: "List Test"
type: technical_note
draft: false
---

In [1]:
class Employee:
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        
    def __repr__(self):
        return repr((self.name, self.age, self.salary))

In [2]:
employees = [
    Employee('Peter', 21, 6),
    Employee('Kevin', 22, 4),
    Employee('Simon', 21, 8)
]

In [3]:
employees

[('Peter', 21, 6), ('Kevin', 22, 4), ('Simon', 21, 8)]

In [5]:
# sorting

sorted(employees, key = lambda e: e.salary)

[('Kevin', 22, 4), ('Peter', 21, 6), ('Simon', 21, 8)]

In [6]:
sorted(employees, key = lambda e: -e.salary)

[('Simon', 21, 8), ('Peter', 21, 6), ('Kevin', 22, 4)]

In [7]:
from operator import itemgetter, attrgetter
sorted(employees, key=attrgetter('age'))

[('Peter', 21, 6), ('Simon', 21, 8), ('Kevin', 22, 4)]

In [8]:
young_employees = sorted(employees, key=attrgetter('age'), reverse=False)

In [9]:
young_employees

[('Peter', 21, 6), ('Simon', 21, 8), ('Kevin', 22, 4)]