---
title: "List Operations"
author: "Rj"
date: 2019-04-20
description: "-"
type: technical_note
draft: false
---

In [257]:
list = [
    "AB", 
    "CD",
    "EF",
    "GH",
    "IJ", 
    "KL",
    "MN",
    "OP",
    "QR",
    "ST",
    "UV",
    "WX",
    "YZ"
]

In [258]:
list

['AB', 'CD', 'EF', 'GH', 'IJ', 'KL', 'MN', 'OP', 'QR', 'ST', 'UV', 'WX', 'YZ']

In [259]:
# append to list
list.append("ABC")

In [260]:
list

['AB',
 'CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC']

In [261]:
list.extend(["EFG", "IJK", "LMN"])

In [262]:
list

['AB',
 'CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN']

In [263]:
list.extend(("OPQ", "RST"))

In [264]:
list

['AB',
 'CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST']

In [265]:
list.extend(range(1, 5))

In [266]:
list

['AB',
 'CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4]

In [267]:
list2 = ["One", "Two"]

In [268]:
list2

['One', 'Two']

In [269]:
list.append(list2)

In [270]:
list

['AB',
 'CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 ['One', 'Two']]

In [271]:
list3 = ["Four", "Five"]

In [272]:
list += list3

In [273]:
list

['AB',
 'CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 ['One', 'Two'],
 'Four',
 'Five']

In [274]:
list.pop(len(list)-1)

'Five'

In [275]:
list

['AB',
 'CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 ['One', 'Two'],
 'Four']

In [276]:
list.remove('AB')

In [277]:
list

['CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 ['One', 'Two'],
 'Four']

In [278]:
list.remove(list2)

In [279]:
list

['CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 'Four']

In [280]:
list.extend(("ten", "twenty"))

In [281]:
list

['CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 'Four',
 'ten',
 'twenty']

In [282]:
list.extend(["eleven", "twelve"])

In [283]:
list

['CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 'Four',
 'ten',
 'twenty',
 'eleven',
 'twelve']

In [284]:
list.append(("six", "seven"))

In [285]:
list

['CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 'Four',
 'ten',
 'twenty',
 'eleven',
 'twelve',
 ('six', 'seven')]

In [286]:
type(list[len(list)-1])

tuple

In [287]:
del list[len(list)-1]

In [288]:
list

['CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 'Four',
 'ten',
 'twenty',
 'eleven',
 'twelve']

In [289]:
list.remove("ten")

In [290]:
list

['CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 'Four',
 'twenty',
 'eleven',
 'twelve']

In [291]:
list.append( ["one", "two"])

In [292]:
list

['CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 'Four',
 'twenty',
 'eleven',
 'twelve',
 ['one', 'two']]

In [293]:
list.remove(['one', 'two'])

In [294]:
list

['CD',
 'EF',
 'GH',
 'IJ',
 'KL',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 'Four',
 'twenty',
 'eleven',
 'twelve']

In [295]:
# delete elements 1 - 5
del list[1:5]

In [296]:
list

['CD',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 'Four',
 'twenty',
 'eleven',
 'twelve']

In [297]:
list[::2]

['CD', 'OP', 'ST', 'WX', 'ABC', 'IJK', 'OPQ', 1, 3, 'Four', 'eleven']

In [298]:
list

['CD',
 'MN',
 'OP',
 'QR',
 'ST',
 'UV',
 'WX',
 'YZ',
 'ABC',
 'EFG',
 'IJK',
 'LMN',
 'OPQ',
 'RST',
 1,
 2,
 3,
 4,
 'Four',
 'twenty',
 'eleven',
 'twelve']

In [299]:
# Remove every 3rd item
del list[::3]

In [300]:
list

['MN',
 'OP',
 'ST',
 'UV',
 'YZ',
 'ABC',
 'IJK',
 'LMN',
 'RST',
 1,
 3,
 4,
 'twenty',
 'eleven']

In [301]:
# Remove every 2nd item
del list[::-3]

In [302]:
list

['MN', 'ST', 'UV', 'ABC', 'IJK', 'RST', 1, 4, 'twenty']

In [303]:
for i, j in enumerate(list):
    print(i, j)

0 MN
1 ST
2 UV
3 ABC
4 IJK
5 RST
6 1
7 4
8 twenty

In [304]:
item_index = 1, 4

In [307]:
list = [value for key, value in enumerate(list) if key not in item_index]

In [308]:
list

['MN', 'ABC', 'RST', 4, 'twenty']