---
title: "Word to Chars"
author: "Rj"
date: 2019-04-20
description: "List Test"
type: technical_note
draft: false
---

In [1]:
word = "Toronto"

In [2]:
word

'Toronto'

In [3]:
type(word)

str

In [4]:
letters = word.split()

In [5]:
type(letters)

list

In [6]:
for l in letters:
    print(l, type(l))

Toronto <class 'str'>

In [11]:
len(letters)

1

In [7]:
chars = list(word)

In [8]:
type(chars)

list

In [9]:
for c in chars:
    print(c, type(c))

T <class 'str'>
o <class 'str'>
r <class 'str'>
o <class 'str'>
n <class 'str'>
t <class 'str'>
o <class 'str'>

In [12]:
len(chars)

7

In [ ]:
# list(string) will get us characters, but split will get us strings

In [13]:
[c for c in word]

['T', 'o', 'r', 'o', 'n', 't', 'o']

In [14]:
[c for c in word.split()]

['Toronto']

In [18]:
word.split()

['Toronto']