---
title: "Apply Custom Function"
author: "Rj"
date: 2019-04-20
description: "List Test"
type: technical_note
draft: false
---

In [7]:
import pandas as pd

In [18]:
data = {
    'city' : ['Toronto', 'Montreal', 'Waterloo'],
    'points' : [80, 70, 90]
}

In [19]:
data

{'city': ['Toronto', 'Montreal', 'Waterloo'], 'points': [80, 70, 90]}

In [20]:
type(data)

dict

In [21]:
df = pd.DataFrame(data)

In [22]:
df

       city  points
0   Toronto      80
1  Montreal      70
2  Waterloo      90

In [23]:
def get_bonus(x):
    if (x > 75):
        return x + 10
    return x

In [24]:
df['new_points'] = df['points'].apply(lambda x: get_bonus(x))

In [25]:
df['new_points']

0     90
1     70
2    100
Name: new_points, dtype: int64

In [26]:
df

       city  points  new_points
0   Toronto      80          90
1  Montreal      70          70
2  Waterloo      90         100