---
title: "Astype 2"
author: "Rj"
date: 2019-04-24
description: "-"
type: technical_note
draft: false
---

In [17]:
import numpy as np
import pandas as pd

In [18]:
marks = [
    [90, 87],
    [90, 95],
    [92, 95]
]

In [19]:
marks

[[90, 87], [90, 95], [92, 95]]

In [20]:
df = pd.DataFrame(marks, columns=['maths', 'science'])

In [21]:
df

   maths  science
0     90       87
1     90       95
2     92       95

In [22]:
# reassign some values to nan

df['maths']

0    90
1    90
2    92
Name: maths, dtype: int64

In [23]:
df['maths'][0] = np.nan

In [24]:
df['maths']

0     NaN
1    90.0
2    92.0
Name: maths, dtype: float64

In [27]:
df = df.astype('int') # this will throw error

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [28]:
df = df.fillna(0).astype('int') # this will throw error

In [29]:
df

   maths  science
0      0       87
1     90       95
2     92       95