---
title: "DataFrame With Random Data"
author: "Rj"
date: 2019-04-24
description: "-"
type: technical_note
draft: false
---

In [9]:
import numpy as np
import pandas as pd
import random

In [10]:
def xrange(x):
    return iter(range(x))

In [11]:
rnd_1 = [random.randrange(1, 20) for x in xrange(10)]

In [12]:
rnd_1

[16, 3, 18, 19, 1, 13, 17, 3, 4, 3]

In [13]:
rnd_2 = [random.randrange(1, 20) for x in xrange(10)]

In [14]:
rnd_2

[12, 9, 14, 5, 16, 14, 11, 11, 12, 10]

In [19]:
date = pd.date_range('2018-01-01', '2018-01-10')

In [20]:
data = pd.DataFrame({
    'date' : date,
    'rnd_1' : rnd_1,
    'rnd_2' : rnd_2
})

In [21]:
data

        date  rnd_1  rnd_2
0 2018-01-01     16     12
1 2018-01-02      3      9
2 2018-01-03     18     14
3 2018-01-04     19      5
4 2018-01-05      1     16
5 2018-01-06     13     14
6 2018-01-07     17     11
7 2018-01-08      3     11
8 2018-01-09      4     12
9 2018-01-10      3     10