---
title: "Datatype Downcasting"
author: "Rj"
date: 2019-04-24
description: "-"
type: technical_note
draft: false
---

In [2]:
import numpy as np
import pandas as pd

In [4]:
ds = pd.Series([1, np.nan, 3, 4, 5])

In [5]:
ds

0    1.0
1    NaN
2    3.0
3    4.0
4    5.0
dtype: float64

In [7]:
# ds = ds.astype('int') # will throw ValueError: Cannot convert non-finite values (NA or inf) to integer

In [8]:
ds = ds.astype('float')

In [9]:
ds

0    1.0
1    NaN
2    3.0
3    4.0
4    5.0
dtype: float64

In [11]:
ds = pd.to_numeric(ds, downcast='float')

In [12]:
ds

0    1.0
1    NaN
2    3.0
3    4.0
4    5.0
dtype: float32

In [13]:
# You could see the dtype chagend fro float64 to float32