---
title: "First Four Rows of CSV"
author: "Rj"
date: 2019-04-22
description: "-"
type: technical_note
draft: false
---

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data1.csv')

In [3]:
df

   capacity  score  length
0         1     10      30
1         2     20      30
2         3     30      40
3         3     40      30
4         2     30      40
5         7     10      23
6         3     20      22
7         8     20      11
8         2     30       2

In [4]:
df.shape

(9, 3)

In [5]:
dfr = df.iloc[:4]

In [6]:
dfr

   capacity  score  length
0         1     10      30
1         2     20      30
2         3     30      40
3         3     40      30

In [7]:
# Get first four columns and 2 columns

dfr2 = df.iloc[:4, :2]

In [8]:
dfr2

   capacity  score
0         1     10
1         2     20
2         3     30
3         3     40