---
title: "Food Points"
author: "Rj"
date: 2019-04-24
description: "-"
type: technical_note
draft: false
---

In [14]:
import numpy as np
import pandas as pd

In [22]:
data = {
    'dinner' : ['chicken wrap', 'stake', 'rudy burger', 'sushi', 'chicken teriyaki', 'caesar salad']
}

In [23]:
df = pd.DataFrame(data)

In [24]:
df

             dinner
0      chicken wrap
1             stake
2       rudy burger
3             sushi
4  chicken teriyaki
5      caesar salad

In [29]:
def get_food_points(food):
    if('chicken' in food):
        return 2
    
    if('stake' in food):
        return 1
    
    if('burger' in food):
        return 1

    if('salad' in food):
        return 7
    
    return None

In [30]:
df['food_points'] = df['dinner'].apply(get_food_points)

In [31]:
df

             dinner  food_points
0      chicken wrap          2.0
1             stake          1.0
2       rudy burger          1.0
3             sushi          NaN
4  chicken teriyaki          2.0
5      caesar salad          7.0

In [32]:
df

             dinner  food_points
0      chicken wrap          2.0
1             stake          1.0
2       rudy burger          1.0
3             sushi          NaN
4  chicken teriyaki          2.0
5      caesar salad          7.0