---
title: "Infer Objects"
author: "Rj"
date: 2019-04-24
description: "-"
type: technical_note
draft: false
---

In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame({'a': [7, 1, 5], 'b': ['3','2','1']}, dtype='object')

In [9]:
df

   a  b
0  7  3
1  1  2
2  5  1

In [10]:
df.dtypes

a    object
b    object
dtype: object

In [13]:
df = df.infer_objects()

In [14]:
df.dtypes

a     int64
b    object
dtype: object

In [ ]:
# You can see that dataype of column a is changed to int64.