---
title: "Random Integer with 2 dimension"
author: "Rj"
date: 2019-04-22
description: "-"
type: technical_note
draft: false
---

In [2]:
import numpy as np
import pandas as pd

In [7]:
# Create Random integer between 1 to 100

df = pd.DataFrame(np.random.randint(0, 100, size=(2, 4)), columns=['A', 'B', 'C', 'D'])

In [8]:
df

    A   B   C   D
0   8  45  53  45
1  14  91  77  31

In [9]:
df.shape

(2, 4)

In [10]:
df.describe()

               A          B          C          D
count   2.000000   2.000000   2.000000   2.000000
mean   11.000000  68.000000  65.000000  38.000000
std     4.242641  32.526912  16.970563   9.899495
min     8.000000  45.000000  53.000000  31.000000
25%     9.500000  56.500000  59.000000  34.500000
50%    11.000000  68.000000  65.000000  38.000000
75%    12.500000  79.500000  71.000000  41.500000
max    14.000000  91.000000  77.000000  45.000000

In [11]:
df.ndim

2