---
title: "Random Param Single Param"
author: "Rj"
date: 2019-04-22
description: "-"
type: technical_note
draft: false
---

In [6]:
import numpy as np
import pandas as pd

In [12]:
df = pd.DataFrame(np.random.randint(5, size = (5, 4)))

In [13]:
df

   0  1  2  3
0  0  2  1  3
1  4  0  4  0
2  2  2  4  0
3  4  1  3  4
4  4  0  0  4