---
title: "Values and Index"
author: "Rj"
date: 2019-04-22
description: "-"
type: technical_note
draft: false
---

In [20]:
import numpy as np
import pandas as pd

In [21]:
datatype = [('one', 'int32'), ('two', 'int32')]

In [22]:
values = np.zeros(3, dtype = datatype)

In [23]:
currrent_index = ['Row '+str(i) for i in range(1, 4)]

In [24]:
df = pd.DataFrame(values, index = currrent_index)

In [25]:
df

       one  two
Row 1    0    0
Row 2    0    0
Row 3    0    0

In [26]:
df.shape

(3, 2)

In [19]:
df.ndim

2