Add a New Column

In [1]:
import pandas as pd

In [2]:
data = {
    'city' : ['Toronto', 'Montreal', 'Waterloo'],
    'points' : [80, 70, 90]
}

In [3]:
data

{'city': ['Toronto', 'Montreal', 'Waterloo'], 'points': [80, 70, 90]}

In [4]:
type(data)

dict

In [5]:
df = pd.DataFrame(data)

In [6]:
df

       city  points
0   Toronto      80
1  Montreal      70
2  Waterloo      90

In [7]:
df = df.assign(code = [1, 2, 3])

In [8]:
df

       city  points  code
0   Toronto      80     1
1  Montreal      70     2
2  Waterloo      90     3