In [ ]:
# https://github.com/rajacsp/public-dataset/blob/master/food.csv

In [8]:
from io import BytesIO

In [9]:
import requests
import pandas as pd

In [10]:
FILEPATH = 'https://raw.githubusercontent.com/rajacsp/public-dataset/master/food.csv'

In [11]:
r = requests.get(FILEPATH)

In [12]:
data = r.content

In [13]:
data

b'Food_ID,Food_Name,Category,Price,Calories,Available\n1,Pizza,Fast Food,8.99,300,Yes\n2,Burger,Fast Food,5.49,450,Yes\n3,Pasta,Italian,7.99,400,No\n4,Sushi,Japanese,12.99,250,Yes\n5,Tacos,Mexican,6.99,200,No\n6,Salad,Healthy,4.99,150,Yes\n7,Fried Rice,Asian,5.99,350,Yes\n8,Ice Cream,Dessert,3.99,200,Yes\n9,Steak,Grill,14.99,700,No\n10,Soup,Healthy,3.49,100,Yes\n'

In [14]:
onlinedata = BytesIO(data)

In [15]:
df = pd.read_csv(onlinedata, index_col=0)

In [16]:
df.head(2)

        Food_Name   Category  Price  Calories Available
Food_ID
1           Pizza  Fast Food   8.99       300       Yes
2          Burger  Fast Food   5.49       450       Yes